<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Log in</h1>

      <%= form_with url: session_path do |form| %>
        <div class="mb-1">
          <p class="mb-1">Name</p>
          <%= form.text_field :name,
                required: true,
                autofocus: true,
                autocomplete: "username",
                value: params[:name],
                class: "form-control" %>
        </div>

        <div class="mb-1">
          <p class="mb-1">Password</p>
          <%= form.password_field :password,
                required: true,
                autocomplete: "current-password",
                maxlength: 72,
                class: "form-control" %>
        </div>

        <div class="mb-2 form-check">
          <%= form.check_box :remember_me, class: "form-check-input" %>
          <%= form.label :remember_me, "Remember me", class: "form-check-label" %>
        </div>

        <div class="mb-1">
          <%= form.submit "Log in", class: "btn btn-primary text-white" %>
        </div>
      <% end %>

      <div>
        <%= link_to "Sign up", new_user_path %>
      </div>

      <div>
        <%= link_to "Forgot your password?", new_password_path %>
      </div>
    </div>
  </div>
</div>