<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar", user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="border-bottom">Users</h2>

      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <% if user.profile_image.attached? %>
                  <%= image_tag user.profile_image, size: "80x80" %>
                <% else %>
                  <%= image_tag "default-image.jpg", size: "80x80" %>
                <% end %>
              </td>

              <td>
                <%= user.name %>
              </td>

              <td>
                フォロー数: <%= user.followings.count %>
              </td>

              <td>
                フォロワー数: <%= user.followers.count %>
              </td>

              <td>
                <% unless user == Current.user %>
                  <% if Current.user.following?(user) %>
                    <%= link_to "フォロー外す", relationship_path(Current.user.active_relationships.find_by(followed_id: user.id)), data: { turbo_method: :delete } %>
                  <% else %>
                    <%= link_to "フォローする", relationships_path(relationship: { followed_id: user.id }), data: { turbo_method: :post } %>
                  <% end %>
                <% end %>
              </td>

              <td>
                <%= link_to "Show", user_path(user) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>