<h1>Sign up</h1>
<% if @user&.errors&.any? %>
  <div class="text-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>

  <p>Email</p>
  <%= f.email_field :email_address %>

  <p>Password</p>
  <%= f.password_field :password %>

  <p>Password confirmation</p>
  <%= f.password_field :password_confirmation %>

  <p>
    <%= f.submit "Sign up" %>
  </p>

  <p> Log in 後からlinkを付ける </p>
<% end %>