<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar", user: @user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="border-bottom">Books</h2>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <% if book.user.profile_image.attached? %>
                    <%= image_tag book.user.profile_image, size: "80x80" %>
                  <% else %>
                    <p>No Image</p>
                  <% end %>
                <% end %>
              </td>

              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h2>投稿数の前日比・前週比</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @today_book_count %></td>
            <td><%= @yesterday_book_count %></td>
            <td>
              <% if @yesterday_book_count == 0 %>
                <%= @day_comparison %>
              <% else %>
                <%= @day_comparison %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今週の投稿数</th>
            <th>先週の投稿数</th>
            <th>前週比</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @this_week_book_count %></td>
            <td><%= @last_week_book_count %></td>
            <td>
              <% if @last_week_book_count == 0 %>
                <%= @week_comparison %>
              <% else %>
                <%= @week_comparison %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>