<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/sidebar", user: @user, book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <td>
              <% if @book.user.profile_image.attached? %>
                <%= image_tag @book.user.profile_image, size: "80x80" %>
              <% else %>
                <p>No Image</p>
              <% end %>

              <p><%= link_to @book.user.name, user_path(@book.user) %></p>
            </td>

            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>

            <td><%= render 'favorite', book: @book %></td>

            <td><p>コメント数: <%= @book.book_comments.count %></p></td>

            <% if @book.user == Current.user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "Destroy", book_path(@book), data: { turbo_method: :delete }, class: "btn btn-danger btn-sm" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <% @book.book_comments.each do |book_comment| %>
        <div class="d-flex align-items-start mb-3">
          <div class="text-center me-3">
            <%= link_to user_path(book_comment.user) do %>
              <% if book_comment.user.profile_image.attached? %>
                <%= image_tag book_comment.user.profile_image, size: "50x50" %>
              <% else %>
                <%= image_tag "default-image.jpg", size: "50x50" %>
              <% end %>
            <% end %>

            <div>
              <%= link_to book_comment.user.name, user_path(book_comment.user) %>
            </div>
          </div>

          <div class="d-flex align-items-center">
            <span class="me-2"><%= book_comment.comment %></span>
      
            <% if book_comment.user == Current.user %>
              <%= button_to "Destroy",
                  book_book_comment_path(@book, book_comment),
                  method: :delete,
                  class: "btn btn-danger btn-sm text-white" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= form_with model: [@book, @book_comment], class: "w-100" do |f| %>
        <div class="mb-2">
          <%= f.text_area :comment,
              rows: 5,
              class: "form-control w-100" %>
        </div>

        <div>
          <%= f.submit "送信" %>
        </div>
      <% end %>
  </div>
</div>